@font-face {
  font-family: "AlethiaNext";
  src: url("./fonts/AlethiaNext-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  max-width: 1600px;
  background-color: #20083b;
  margin-inline: auto;
  min-height: 100vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin-inline: 100px;
}
@media (max-width: 768px) {
  .wrapper {
    margin-inline: 30px;
  }
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
}
@media (max-width: 1200px) {
  .hero-section {
    -webkit-margin-before: 0px;
            margin-block-start: 0px;
  }
}
@media (max-width: 768px) {
  .hero-section {
    max-width: 768px;
  }
}
.hero-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  z-index: 599;
  max-width: 1600px;
}
@media (max-width: 1200px) {
  .hero-section .header {
    line-height: 60px;
    padding-inline: 30px;
  }
}
.hero-section .header.open {
  position: relative;
  -webkit-margin-before: 50px;
          margin-block-start: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  z-index: 5000;
}
.hero-section .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1200px) {
  .hero-section .header .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero-section .header .logo__title {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  opacity: 60;
}
.hero-section .header .logo__title span {
  color: white;
}
.hero-section .header .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}
@media (max-width: 992.99px) {
  .hero-section .header .nav {
    display: none;
  }
}
.hero-section .header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px;
  gap: 66px;
}
.hero-section .header .nav__link {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  opacity: 60;
}
.hero-section .header .nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero-section .header .nav.open .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-section .user__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 992.99px) {
  .hero-section .user__body {
    display: none;
  }
}
.hero-section .user img {
  width: 25px;
  height: 25px;
}
.hero-section .ethereum {
  position: relative;
}
.hero-section .ethereum__header {
  position: absolute;
  top: 0;
  width: 15px;
  height: 25px;
  background: linear-gradient(-250deg, #ff56f6, #b936ee, #3bace2, #406aff);
  clip-path: polygon(50% 0%, 100% 50%, 50% 70%, 0% 50%);
}
.hero-section .ethereum__footer {
  margin-top: 2px;
  width: 15px;
  height: 25px;
  background: linear-gradient(50deg, #ff56f6, #b936ee, #3bace2, #406aff);
  clip-path: polygon(50% 70%, 100% 50%, 50% 100%, 0% 50%);
}
.hero-section .burger {
  display: none;
}
@media (max-width: 992.99px) {
  .hero-section .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
}
.hero-section .burger__line {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}
.hero-section .burger__line--middle {
  width: 13px;
}
@media (max-width: 992.99px) {
  .hero-section .burger.open .burger__line {
    width: 30px;
    background-color: #b936ee;
    -webkit-box-shadow: 0 0 20px rgba(219, 122, 243, 0.244);
            box-shadow: 0 0 20px rgba(219, 122, 243, 0.244);
  }
}
.hero-section .overlay {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  width: 100%;
  height: 60%;
}
.hero-section .overlay.open {
  visibility: visible;
  opacity: 1;
  background-color: rgb(17, 37, 125);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.hero-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 1200px) {
  .hero-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1200px) {
  .hero-column__discover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero-column__discover-title {
  font-family: "League Spartan", sans-serif;
  font-size: 65px;
  font-weight: 600;
  color: #ffffff;
  max-width: 850px;
  line-height: 137%;
  -webkit-margin-before: 100px;
          margin-block-start: 100px;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}
@media (max-width: 1200px) {
  .hero-column__discover-title {
    -webkit-margin-before: 45px;
            margin-block-start: 45px;
    -webkit-margin-after: 40px;
            margin-block-end: 40px;
    font-size: 42px;
  }
}
@media (max-width: 1200px) and (max-width: 375px) {
  .hero-column__discover-title {
    max-width: 290px;
    text-align: start;
  }
}

.hero-column__discover-title span {
  background: -webkit-gradient(linear, left top, right top, from(#ffa6fa), to(#3c79d4));
  background: linear-gradient(to right, #ffa6fa, #3c79d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.column-hand__user-name {
  font-size: 15px;
}

.column-hand__title {
  font-size: 17px;
}

.hero-column__discover-text {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  line-height: 44px;
  max-width: 650px;
  opacity: 0.7;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
}
@media (max-width: 1200px) {
  .hero-column__discover-text {
    font-size: 14px;
    line-height: 24px;
  }
}

.discover-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 700;
  -webkit-margin-after: 70px;
          margin-block-end: 70px;
}
@media (max-width: 768px) {
  .discover-buttons {
    -webkit-margin-after: 40px;
            margin-block-end: 40px;
  }
}

.explore-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-block: 20px;
  -webkit-padding-start: 65px;
          padding-inline-start: 65px;
  clip-path: polygon(20% 0%, 100% 0, 100% 50%, 80% 100%, 0% 100%, 0% 50%);
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  border: 5px solid transparent;
  -o-border-image: linear-gradient(45deg, #ffa6fa, #3c79d4) 1;
     border-image: linear-gradient(45deg, #ffa6fa, #3c79d4) 1;
  padding: 20px;
}
.explore-button:hover {
  background: linear-gradient(280deg, #ff56f6, #b936ee, #3bace2, #406aff) padding-box, linear-gradient(45deg, #ffa6fa, #3c79d4) border-box;
}
@media (max-width: 768px) {
  .explore-button {
    padding-block: 10px;
    font-size: 12px;
    padding-block: 10px;
    -webkit-padding-start: 25px;
            padding-inline-start: 25px;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(45deg, #ffa6fa, #3c79d4) 1;
       border-image: linear-gradient(45deg, #ffa6fa, #3c79d4) 1;
  }
}

.explore-button__arrow {
  -webkit-padding-end: 30px;
          padding-inline-end: 30px;
  text-align: center;
}
@media (max-width: 1200px) {
  .explore-button__arrow {
    -webkit-padding-end: 20px;
            padding-inline-end: 20px;
  }
}
@media (max-width: 768px) {
  .explore-button__arrow {
    -webkit-padding-end: 10px;
            padding-inline-end: 10px;
  }
}

.explore-button__arrow {
  width: 70px;
}
@media (max-width: 768px) {
  .explore-button__arrow {
    width: 40px;
  }
}

.discover-buttons__create {
  background: -webkit-gradient(linear, left top, right top, from(#42a6e3), to(#ff56f6));
  background: linear-gradient(to right, #42a6e3, #ff56f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .discover-buttons__create {
    font-size: 12px;
    -webkit-margin-start: 20px;
            margin-inline-start: 20px;
  }
}

.discover-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}

.discover-statistic h3 {
  color: #ffffff;
  font-family: "Aldrich", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .discover-statistic h3 {
    font-size: 18px;
  }
}

.discover-statistic p {
  color: #ffffff;
  font-family: "AlethiaNext", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
@media (max-width: 768px) {
  .discover-statistic p {
    font-size: 12px;
  }
}

.hero-column__abstract {
  -webkit-margin-before: 120px;
          margin-block-start: 120px;
  clip-path: polygon(17% 0, 100% 0%, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0% 80%, 0% 7%);
}
@media (max-width: 768px) {
  .hero-column__abstract {
    -webkit-margin-before: 0px;
            margin-block-start: 0px;
  }
}

.hero-column__abstract-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
}
@media (max-width: 1200px) {
  .hero-column__abstract-img {
    max-width: 325px;
  }
}

.abstract-body {
  position: absolute;
  right: 0px;
  bottom: 0;
  clip-path: polygon(17% 0, 100% 0%, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}
@media (max-width: 1600px) {
  .abstract-body {
    right: -40px;
  }
}
@media (max-width: 1600px) and (max-width: 1200px) {
  .abstract-body {
    position: static;
    width: 325px;
    max-height: 175px;
    margin-top: -160px;
  }
}

.abstract-body__column {
  gap: 40px;
}

.crypto-logo {
  -webkit-margin-before: 100px;
          margin-block-start: 100px;
  -webkit-margin-after: 215px;
          margin-block-end: 215px;
}
@media (max-width: 768px) {
  .crypto-logo {
    -webkit-margin-before: 60px;
            margin-block-start: 60px;
    -webkit-margin-after: 100px;
            margin-block-end: 100px;
  }
}

.crypto-logo__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  place-items: center;
}
@media (max-width: 1250px) {
  .crypto-logo__body {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: white;
}

.nft-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}
.nft-header h3 {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}

.nft-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nft-header__title--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.nft-header__title--arrow img {
  width: 50px;
  height: 25px;
}
@media (max-width: 768px) {
  .nft-header__title--arrow {
    display: none;
  }
}

.nft-body__column {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .nft-body__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nft-auctions__text {
  font-size: 14px;
  opacity: 0.7;
}

.nft-hand__user-img {
  width: 35px;
  height: 35px;
}

.nft-hand__text {
  font-size: 14px;
}

.nft-hand__eth-text {
  font-size: 12px;
}

.nft-hand__eth-cost {
  font-size: 14px;
}

.nft-auctions__time h3 {
  font-size: 22px;
}

.nft-auctions__time p {
  font-size: 14px;
}

@media (max-width: 1200px) {
  .nft-auctions__time h3 {
    font-size: 12px;
  }
  .nft-auctions__time p {
    font-size: 8px;
  }
  .nft-hand__eth-cost {
    font-size: 8px;
  }
  .nft-hand__eth-text {
    font-size: 8px;
  }
  .nft-auctions__text {
    font-size: 8px;
  }
  .nft-hand__user-name {
    font-size: 12px;
  }
  .nft-hand__text {
    font-size: 8px;
  }
}
.nft-hand__user-verification {
  width: 15px;
  height: 15px;
}

.nft-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explore-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-margin-before: 45px;
          margin-block-start: 45px;
  -webkit-margin-after: 100px;
          margin-block-end: 100px;
}

.explore-body__button {
  color: #ffffff;
  display: none;
  padding: 10px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  clip-path: polygon(20% 0%, 100% 0, 100% 50%, 80% 100%, 0% 100%, 0% 50%);
  width: 135px;
  gap: 5px;
  font-size: 12px;
  font-family: "Orbitron", sans-serif;
}
.explore-body__button img {
  width: 25px;
  padding: 0;
}
@media (max-width: 768px) {
  .explore-body__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nft-body__buttons {
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-margin-after: 100px;
          margin-block-end: 100px;
}

.nft-body__buttons-explore {
  display: none;
}
@media (max-width: 768px) {
  .nft-body__buttons-explore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.collections-body__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 130px;
}
@media (max-width: 1240px) {
  .collections-body__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.explore-collections {
  color: white;
  width: 60%;
}
@media (max-width: 768px) {
  .explore-collections {
    width: 100%;
  }
}

.explore-collections__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: start;
  gap: 40px;
  padding: 0;
  margin-block: 45px;
}
@media (max-width: 768px) {
  .explore-collections__cards {
    gap: 15px;
    margin-block: 25px;
  }
}

.explore-collections__cards-items {
  text-align: center;
  width: 100%;
  min-width: 145px;
  padding: 20px;
  opacity: 0.7;
}
.explore-collections__cards-items:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  .explore-collections__cards-items {
    padding: 10px;
  }
}

.explore-collections__cards-link,
.explore-collections__title-header {
  font-size: 25px;
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
}

@media (max-width: 768px) {
  .explore-collections__cards-link {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .explore-collections__title-header {
    font-size: 16px;
  }
}

.explore-collections__title-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
}
@media (max-width: 768px) {
  .explore-collections__title-footer {
    font-size: 8px;
  }
}

.explore-img img {
  max-width: 435px;
  max-height: 850px;
}
@media (max-width: 768px) {
  .explore-img img {
    max-width: 185px;
  }
}

.card-users {
  -webkit-margin-before: 160px;
          margin-block-start: 160px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .card-users {
    -webkit-margin-before: 100px;
            margin-block-start: 100px;
  }
}

.swiper-wrapper__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.users-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-after: 45px;
          margin-block-end: 45px;
}

.users__title {
  font-size: 25px;
}
@media (max-width: 768px) {
  .users__title {
    font-size: 18px;
  }
}

.users__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 26px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}
@media (max-width: 768px) {
  .users__link {
    display: none;
  }
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.card-container__user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Rajdhani", sans-serif;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #ffffff;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1) border-box;
  border: solid 2px rgba(244, 244, 244, 0.142);
}

.user__background {
  width: 100%;
}

.user__name {
  -webkit-margin-before: 75px;
          margin-block-start: 75px;
  font-size: 25px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}
@media (max-width: 992.99px) {
  .user__name {
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
    font-size: 16px;
  }
}

.user__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  opacity: 0.7;
}
@media (max-width: 992.99px) {
  .user__email {
    line-height: 30px;
    font-size: 14px;
  }
}

.user__email img {
  width: 15px;
  height: 15px;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-inline: 40px;
  width: 100%;
}
@media (max-width: 1440px) {
  .user-info {
    gap: 20px;
  }
}

.user-info h3 {
  line-height: 60px;
  font-size: 32px;
}
@media (max-width: 992.99px) {
  .user-info h3 {
    line-height: 40px;
    font-size: 22px;
  }
}

.user-info p {
  opacity: 0.7;
  font-size: 20px;
}
@media (max-width: 992.99px) {
  .user-info p {
    font-size: 14px;
  }
}

.user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-block: 40px;
  text-align: center;
  padding-inline: 100px;
  width: 100%;
}
@media (max-width: 768px) {
  .user-button {
    margin-block: 20px;
  }
}

.user-button__follow {
  padding-block: 10px;
  padding-inline: 20px;
  width: 100%;
  max-width: 250px;
  min-width: 150px;
}

.user-avatar {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 100px;
  max-width: 162px;
  max-height: 162px;
}
@media (max-width: 1200px) {
  .user-avatar {
    width: 120px !important;
    top: 70px !important;
  }
}
@media (max-width: 1440px) {
  .user-avatar {
    top: 90px;
    width: 150px;
  }
}
@media (max-width: 992.99px) {
  .user-avatar {
    top: 100px !important;
  }
}
@media (max-width: 768px) {
  .user-avatar {
    width: 120px;
    top: 80px !important;
  }
}
@media (max-width: 600px) {
  .user-avatar {
    top: 170px !important;
  }
}
@media (max-width: 400px) {
  .user-avatar {
    width: 112px;
    top: 70px !important;
  }
}

.sellers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
}

.sellers__title.active {
  -webkit-filter: drop-shadow(0 5px 50px rgb(255, 0, 255));
          filter: drop-shadow(0 5px 50px rgb(255, 0, 255));
}

.sellers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-size: 25px;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  color: #ffffff;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  cursor: pointer;
}
.sellers__title span {
  color: #ff56f6;
}
.sellers__title img {
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
}
@media (max-width: 768px) {
  .sellers__title {
    font-size: 20px;
  }
}

.sellers__text {
  font-size: 18px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  max-width: 500px;
  line-height: 140%;
}
@media (max-width: 768px) {
  .sellers__text {
    font-size: 14px;
  }
}

.sellers-arrow.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sellers__cards {
  display: none;
}

.sellers__cards.active {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 440px));
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}
@media (max-width: 768px) {
  .sellers__cards.active {
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(215px, 310px));
  }
}
@media (max-width: 400px) {
  .sellers__cards.active {
    grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
  }
}

.sellers-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border: solid 2px rgba(244, 244, 244, 0.142);
  border-radius: 15px;
}
@media (max-width: 768px) {
  .sellers-card {
    max-width: 315px;
  }
}
@media (max-width: 400px) {
  .sellers-card {
    max-width: 280px;
  }
}

.sellers-card__number {
  opacity: 0.7;
  font-size: 20px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  color: #ffffff;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
}
@media (max-width: 768px) {
  .sellers-card__number {
    -webkit-padding-start: 20px;
            padding-inline-start: 20px;
  }
}

.sellers-card__avatar {
  padding-block: 25px;
}
@media (max-width: 768px) {
  .sellers-card__avatar {
    padding-block: 20px;
    max-width: 50px;
  }
}

.sellers-card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-inline: 15px;
  gap: 15px;
  width: 150px;
}

.sellers-card__user-name {
  color: #ffffff;
  font-size: 20px;
}
@media (max-width: 768px) {
  .sellers-card__user-name {
    font-size: 14px;
  }
}

.sellers-card__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sellers-card__user-eth {
  width: 10px;
  height: 10px;
  -webkit-margin-end: 4px;
          margin-inline-end: 4px;
}

.sellers-card__user-count {
  color: #ffffff;
  font-size: 14px;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .sellers-card__user-count {
    font-size: 10px;
  }
}

.sellers-card__statistic {
  font-size: 15px;
  color: #00ff66;
  padding: 8px 17px;
  border-radius: 15px;
  border: 1.5px solid rgba(0, 178, 71, 0.4470588235);
  background: linear-gradient(45deg, rgba(0, 178, 71, 0.4470588235), rgba(73, 182, 73, 0));
  background-clip: padding-box;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
@media (max-width: 768px) {
  .sellers-card__statistic {
    -webkit-margin-end: 15px;
            margin-inline-end: 15px;
    font-size: 10px;
    padding: 5px 12px;
  }
}

.sellers-body__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  clip-path: none;
  padding-block: 10px;
  width: 235px;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  border: 2px solid transparent;
}
@media (max-width: 768px) {
  .sellers-body__buttons {
    display: none;
  }
}

.place__button--large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 12px;
  font-size: 22px;
  width: 155px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  gap: 12px;
}
.place__button--large img {
  max-width: 30px;
}
@media (max-width: 1440px) {
  .place__button--large img {
    max-width: 20px;
    gap: 8px;
  }
}
@media (max-width: 1440px) {
  .place__button--large {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  .place__button--large {
    padding: 7px 9px;
    font-size: 12px;
    width: 108px;
  }
}

.place__button--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 9px;
  gap: 12px;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}
.place__button--small img {
  max-width: 25px;
}

.decoration--buttons {
  border: 2px solid transparent;
  -o-border-image: linear-gradient(280deg, #ffa6fa, #3c79d4) 1;
     border-image: linear-gradient(280deg, #ffa6fa, #3c79d4) 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.decoration--buttons:hover {
  -webkit-box-shadow: 0 5px 50px rgba(255, 0, 255, 0.8);
          box-shadow: 0 5px 50px rgba(255, 0, 255, 0.8);
  background: linear-gradient(45deg, #ff56f6, #b936ee, #3bace2, #406aff) padding-box;
}
.decoration--buttons:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card-auctions__button-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.decoration--explore:hover {
  -webkit-filter: drop-shadow(0 5px 50px rgba(255, 0, 255, 0.8));
          filter: drop-shadow(0 5px 50px rgba(255, 0, 255, 0.8));
}/*# sourceMappingURL=style.css.map */