@use "variables" as *;

html {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  max-width: 1600px;
  background-color: $secondary-background-color;
  margin-inline: auto;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // margin-inline: 100px;
  @media (max-width: 768px) {
    // margin-inline: 30px;
  }
}

[class*="__container--large"] {
  padding-inline: 100px;
}

@media (max-width: 738px) {
  [class*="__container--large"] {
    padding-inline: 30px;
  }
}
[class*="__container--small"] {
  padding-inline: 100px;
}

@media (max-width: 738px) {
  [class*="__container--small"] {
    padding-inline: 25px;
  }
}

// HERO-SECTION

// LOGO FOR HEADER - FOOTER
.logo {
  display: flex;
  flex: 1;
  align-items: flex-end;
  @media (max-width: 1200px) {
    align-items: center;
  }
}

.ethereum {
  position: relative;
  &__header {
    position: absolute;
    top: 0;
    width: 15px;
    height: 25px;
    background: $background-nft;
    clip-path: polygon(50% 0%, 100% 50%, 50% 70%, 0% 50%);
  }
  &__footer {
    margin-top: 2px;
    width: 15px;
    height: 25px;
    background: $background-nft;
    clip-path: polygon(50% 70%, 100% 50%, 50% 100%, 0% 50%);
  }
}
.logo__title {
  font-family: $primary;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff99;
  opacity: 60;
  span {
    color: white;
  }
}

// HERO SECTION
.hero-column {
  position: relative;
  display: flex;
  gap: 50px;
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 768px) {
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  margin-block-start: 40px;
  @media (max-width: 1200px) {
    margin-block-start: 0px;
  }
  @media (max-width: 768px) {
    max-width: 768px;
  }
  // HEADER

  .header {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 599;
    max-width: 1600px;
    @media (max-width: 1200px) {
      line-height: 60px;
      padding-inline: 30px;
    }

    &.open {
      position: relative;
      margin-block-start: 50px;
      flex-direction: column;
      gap: 50px;
      z-index: 5000;
    }

    // NAV
    .nav {
      flex: 1 auto;

      @media (max-width: 992.99px) {
        display: none;
      }
      &__list {
        display: flex;
        align-items: center;
        padding: 11px;
        gap: 66px;
      }
      &__link {
        font-family: $primary;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }

      &.open {
        display: flex;
        .nav__list {
          flex-direction: column;
        }
      }
      .nav__link--shadow {
        box-shadow: (-40px 420px 120px #ed79b9);
        @media (max-width: 1280px) {
          box-shadow: none;
        }
      }
    }
  }

  // USER
  .user__body {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 992.99px) {
      display: none;
    }
  }
  .user img {
    width: 25px;
    height: 25px;
  }

  // BURGER MENU
  .burger {
    display: none;
    @media (max-width: 992.99px) {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      row-gap: 5px;
    }
    &__line {
      width: 20px;
      height: 3px;
      background-color: white;
      border-radius: 10px;
    }
    &__line--middle {
      width: 13px;
    }
    &.open {
      @media (max-width: 992.99px) {
        .burger__line {
          width: 30px;
          background-color: #b936ee;
          box-shadow: 0 0 20px rgba(219, 122, 243, 0.244);
        }
      }
    }
  }

  // OVERLAY
  .overlay {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    opacity: 0;
    width: 100%;
    @media (max-width: 992.99px) {
      height: 75%;
    }
    @media (max-width: 768px) {
      height: 78%;
    }

    &.open {
      visibility: visible;
      opacity: 1;
      background-color: rgb(17, 37, 125);
      filter: blur(20px);
    }
  }
}

.hero-column__discover {
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.hero-column__discover-title {
  font-family: $hero-heading;
  font-size: 65px;
  font-weight: 600;
  color: #ffffff;
  max-width: 850px;
  line-height: 137%;
  margin-block-start: 100px;
  margin-block-end: 20px;
  @media (max-width: 1200px) {
    margin-block-start: 45px;
    margin-block-end: 40px;
    font-size: 42px;
    @media (max-width: 768px) {
    }
    @media (max-width: 375px) {
      max-width: 290px;
      text-align: start;
    }
  }
}
.discover-statistic__artwork-title {
  filter: $background-drop-title;
}

.discover-statistic__artwork {
  @media (max-width: 768px) {
    box-shadow: (-5px 135px 80px #c211b9);
  }
}

.hero-column__discover-title span {
  background: linear-gradient(to right, #ffa6fa, #3c79d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: $background-drop-title;
}

.column-hand__user-name {
  font-size: 15px;
}
.column-hand__title {
  font-size: 17px;
}

.hero-column__discover-text {
  font-family: $secondary;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  line-height: 44px;
  max-width: 650px;
  opacity: 0.7;
  margin-block-end: 40px;
  @media (max-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}
.discover-buttons {
  display: flex;
  align-items: center;
  font-family: $primary;
  font-size: 20px;
  font-weight: 700;
  margin-block-end: 70px;

  @media (max-width: 768px) {
    margin-block-end: 40px;
  }
}

.explore-button__arrow {
  padding-inline-end: 30px;
  text-align: center;

  @media (max-width: 1200px) {
    padding-inline-end: 20px;
  }
  @media (max-width: 768px) {
    padding-inline-end: 10px;
  }
}

.explore-button__arrow {
  width: 70px;
  @media (max-width: 768px) {
    width: 40px;
  }
}

.discover-buttons__create {
  background: linear-gradient(to right, #42a6e3, #ff56f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-inline-start: 40px;
  font-size: 20px;
  @media (max-width: 768px) {
    font-size: 12px;
    margin-inline-start: 20px;
  }
}
.discover-statistic {
  display: flex;
  gap: 55px;
}
.discover-statistic h3 {
  color: #ffffff;
  font-family: $statistic-hero;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
.discover-statistic p {
  color: #ffffff;
  font-family: $statistic-caption;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.hero-column__abstract {
  margin-block-start: 120px;
  clip-path: $hero-clip-path;
  @media (max-width: 768px) {
    margin-block-start: 0px;
  }
}
.hero-column__abstract-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 1));
  @media (max-width: 1200px) {
    max-width: 325px;
  }
}
.abstract-body {
  position: absolute;
  right: 0px;
  bottom: 0;
  clip-path: $hero-clip-path;
  @media (max-width: 1600px) {
    right: -40px;

    @media (max-width: 1200px) {
      position: static;
      width: 325px;
      max-height: 175px;
      margin-top: -160px;
    }
  }
  @media (max-width: 400px) {
    max-width: 315px;
  }
}
.abstract-body__column {
  gap: 40px;
}

// CRYPTO-LOGO

.crypto-logo {
  margin-block-start: 100px;
  margin-block-end: 215px;
  @media (max-width: 768px) {
    margin-block-start: 60px;
    margin-block-end: 100px;
  }
}
.crypto-logo__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  place-items: center;
  @media (max-width: 1250px) {
    grid-template-columns: repeat((2, 1fr));
    flex-direction: column-reverse;
  }
}

//TOP-NFT

.swiper-wrapper {
  display: flex;
  text-align: center;
  color: white;
}

.nft-header {
  display: flex;
  justify-content: space-between;
  margin-block-end: 50px;

  h3 {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    font-family: $primary;
  }
}
.nft-header__title {
  display: flex;
}

.nft-header__title--arrow {
  display: flex;
  gap: 15px;
  img {
    width: 50px;
    height: 25px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.nft-body__column {
  justify-content: space-between;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.nft-auctions__text {
  font-size: 14px;
  opacity: 0.7;
}
.nft-hand__user-img {
  width: 35px;
  height: 35px;
}
.nft-hand__text {
  font-size: 14px;
}
.nft-hand__eth-text {
  font-size: 12px;
}
.nft-hand__eth-cost {
  font-size: 14px;
}

.nft-auctions__time h3 {
  font-size: 22px;
}
.nft-auctions__time p {
  font-size: 14px;
}

@media (max-width: 1200px) {
  .nft-auctions__time h3 {
    font-size: 12px;
  }
  .nft-auctions__time p {
    font-size: 8px;
  }
  .nft-hand__eth-cost {
    font-size: 8px;
  }
  .nft-hand__eth-text {
    font-size: 8px;
  }
  .nft-auctions__text {
    font-size: 8px;
  }

  .nft-hand__user-name {
    font-size: 12px;
  }

  .nft-hand__text {
    font-size: 8px;
  }
}
.nft-hand__user-verification {
  width: 15px;
  height: 15px;
}

.nft-body {
  display: flex;
  flex-direction: column;
}
.explore-body {
  display: flex;
  justify-content: center;
  margin-block-start: 45px;
  margin-block-end: 100px;
  @media (max-width: 778px) {
  }
}
.explore-body--margin {
  margin: 0px;
  @media (max-width: 768px) {
    margin-block-start: 40px;
    margin-block-end: 100px;
  }
}
.explore-body__button {
  color: #ffffff;
  display: none;
  padding: 10px 25px;
  justify-content: center;
  clip-path: polygon(20% 0%, 100% 0, 100% 50%, 80% 100%, 0% 100%, 0% 50%);
  width: 135px;
  gap: 5px;
  font-size: 12px;
  font-family: $primary;
  img {
    width: 25px;
    padding: 0;
  }
  @media (max-width: 768px) {
    display: flex;
  }
}

.nft-body__buttons {
  margin-block-start: 40px;
  display: flex;
  justify-content: center;
  margin-block-end: 100px;
}

.nft-body__buttons-explore {
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}

// COLLECTION
.collections-body__column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
  @media (max-width: 1240px) {
    flex-direction: column;
    gap: 30px;
  }
}
.explore-collections {
  color: white;
  width: 60%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.explore-collections__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: start;
  gap: 40px;
  padding: 0;
  margin-block: 45px;
  @media (max-width: 768px) {
    gap: 15px;
    margin-block: 25px;
  }
}

.explore-collections__cards-items {
  text-align: center;
  width: 100%;
  min-width: 145px;
  padding: 20px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
  @media (max-width: 768px) {
    padding: 10px;
  }
}
.explore-collections__cards-link,
.explore-collections__title-header {
  font-size: 25px;
  font-weight: 700;
  font-family: $primary;
}

.explore-collections__cards-link {
  @media (max-width: 768px) {
    font-size: 11px;
  }
}
.explore-collections__title-header {
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.explore-collections__title-footer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-family: $primary;
  font-size: 20px;
  @media (max-width: 768px) {
    font-size: 8px;
  }
}
.explore-img img {
  max-width: 435px;
  max-height: 850px;
  @media (max-width: 768px) {
    max-width: 185px;
  }
}

// CARD-USERS-SECITON

.card-users {
  margin-block-start: 160px;
  color: #ffffff;
  @media (max-width: 992.99px) {
    margin-block-start: 100px;
  }
}

.swiper-wrapper__users {
  display: flex;
}
.users-header {
  display: flex;
  justify-content: space-between;
  margin-block-end: 45px;
}
.users__title {
  font-size: 25px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
.users__link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 26px;
  font-family: $primary;
  font-weight: 600;
  @media (max-width: 768px) {
    display: none;
  }
}
.users__icon {
}
.card-container {
  display: flex;
  gap: 35px;
}
.card-container__user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $secondary;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #ffffff;
  backdrop-filter: blur(10px);
  background: rgb(#ffffff, 0.1) border-box;
  border: solid 2px rgba(244, 244, 244, 0.142);
}
.user__background {
  width: 100%;
}
.user__name {
  margin-block-start: 75px;
  font-size: 25px;
  font-family: $secondary;
  font-weight: 500;
  @media (max-width: 992.99px) {
    margin-block-start: 50px;
    font-size: 16px;
  }
}
.user__email {
  display: flex;
  line-height: 45px;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-block-end: 8px;
  font-size: 20px;
  font-family: $secondary;
  font-weight: 400;
  opacity: 0.7;
  @media (max-width: 992.99px) {
    line-height: 30px;
    font-size: 14px;
  }
}

.user__email img {
  width: 15px;
  height: 15px;
}
.user-info {
  display: flex;
  gap: 55px;
  justify-content: center;
  text-align: center;
  padding-inline: 40px;
  width: 100%;
  @media (max-width: 1440px) {
    gap: 20px;
  }
}
.user-info h3 {
  line-height: 60px;
  font-size: 32px;
  @media (max-width: 992.99px) {
    line-height: 40px;
    font-size: 22px;
  }
}
.user-info p {
  opacity: 0.7;
  font-size: 20px;
  @media (max-width: 992.99px) {
    font-size: 14px;
  }
}

.user-button {
  display: flex;
  justify-content: center;
  margin-block: 40px;
  text-align: center;
  padding-inline: 100px;
  width: 100%;
  @media (max-width: 768px) {
    margin-block: 20px;
  }
}
.user-button__follow {
  padding-block: 10px;
  padding-inline: 20px;
  width: 100%;
  max-width: 250px;
  min-width: 150px;
}
.user-avatar {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100px;
  max-width: 162px;
  max-height: 162px;
  @media (max-width: 1200px) {
    width: 120px !important;
    top: 70px !important;
  }
  @media (max-width: 1440px) {
    top: 90px;
    width: 150px;
  }
  @media (max-width: 992.99px) {
    top: 100px !important;
  }
  @media (max-width: 768px) {
    width: 120px;
    top: 80px !important;
  }
  @media (max-width: 600px) {
    top: 170px !important;
  }
  @media (max-width: 400px) {
    width: 112px;
    top: 70px !important;
  }
}

// SELLERS-SECTION

.sellers__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block-end: 40px;
}

.sellers__title.active {
  filter: drop-shadow(0 15px 40px rgba(255, 0, 255, 1));
  opacity: 1;
}

.sellers__title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 25px;
  font-family: map-get($fonts, primary);
  font-weight: 700;
  color: #ffffff;
  opacity: 0.7;
  margin-block-end: 20px;
  cursor: pointer;
  span {
    color: #ff56f6;
  }
  img {
    transform: rotateX(40deg);
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.sellers__text {
  font-size: 18px;
  color: #ffffff;
  font-family: map-get($fonts, statistic-card);
  max-width: 500px;
  line-height: 140%;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.sellers-arrow.active {
  transform: rotate(180deg);
}

.sellers__cards {
  display: none;
}

.sellers__cards.active {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 440px));
  place-items: center;
  justify-content: center;
  gap: 35px;
  @media (max-width: 768px) {
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(215px, 310px));
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
  }
}
.sellers-card {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: map-get($fonts, statistic-card);
  border: solid 2px rgba(244, 244, 244, 0.142);
  border-radius: 15px;
  @media (max-width: 768px) {
    max-width: 315px;
  }
  @media (max-width: 400px) {
    max-width: 280px;
  }
}
.sellers-card__number {
  opacity: 0.7;
  font-size: 20px;
  margin-inline-end: 15px;
  color: #ffffff;
  padding-inline-start: 30px;
  @media (max-width: 768px) {
    padding-inline-start: 20px;
  }
}
.sellers-card__avatar {
  padding-block: 25px;
  @media (max-width: 768px) {
    padding-block: 20px;
    max-width: 50px;
  }
}
.sellers-card__user {
  display: flex;
  flex-direction: column;
  margin-inline: 15px;
  gap: 15px;
  width: 150px;
}
.sellers-card__user-name {
  color: #ffffff;
  font-size: 20px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.sellers-card__user-info {
  display: flex;
  align-items: center;
}
.sellers-card__user-eth {
  width: 10px;
  height: 10px;
  margin-inline-end: 4px;
}
.sellers-card__user-count {
  color: #ffffff;
  font-size: 14px;
  opacity: 0.7;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}
.sellers-card__statistic {
  font-size: 15px;
  color: #00ff66;
  padding: 8px 17px;
  border-radius: 15px;
  border: 1.5px solid #00b24772;
  background: linear-gradient(45deg, #00b24772, #49b64900);
  background-clip: padding-box;
  margin-inline-end: 20px;
  @media (max-width: 768px) {
    margin-inline-end: 15px;
    font-size: 10px;
    padding: 5px 12px;
  }
}

.sellers-body {
  display: flex;
  @media (max-width: 768px) {
    display: none;
  }
}

.sellers-body__buttons {
  display: flex;
  justify-content: center;
  clip-path: none;
  padding-block: 10px;
  width: 235px;
  font-size: 20px;
  font-family: map-get($fonts, secondary);
  font-weight: 600;
  border: 2px solid transparent;
}

.place__button--large {
  display: flex;
  justify-content: center;
  padding: 10px 12px;
  font-size: 22px;
  width: 155px;
  font-family: map-get($fonts, secondary);
  font-weight: 500;
  gap: 12px;
  img {
    max-width: 30px;
    @media (max-width: 1440px) {
      max-width: 20px;
      gap: 8px;
    }
  }
  @media (max-width: 1440px) {
    font-size: 14px;
  }
  @media (max-width: 1440px) {
    padding: 7px 9px;
    font-size: 12px;
    width: 108px;
  }
}
.place__button--small {
  display: flex;
  padding: 7px 9px;
  gap: 12px;
  font-size: 16px;
  font-family: map-get($fonts, secondary);
  font-weight: 500;
  img {
    max-width: 25px;
  }
}

.decoration--buttons {
  border: 2px solid transparent;
  border-image: linear-gradient(280deg, #ffa6fa, #3c79d4) 1;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  &:hover {
    box-shadow: 0 5px 50px rgba(255, 0, 255, 0.8);
    background: linear-gradient(45deg, #ff56f6, #b936ee, #3bace2, #406aff) padding-box;
  }
  &:active {
    transform: scale(0.9);
  }
}
.card-auctions__button-place {
  display: flex;
}

.decoration--explore {
  &:hover {
    filter: drop-shadow(0 5px 50px rgba(255, 0, 255, 0.8));
  }
}
.decoration--footer {
  :active {
    box-shadow: 0 5px 50px rgba(255, 0, 255, 0.8);
  }
}

// WHAT-SECTION

.what {
  margin-block-start: 60px;
  @media (max-width: 768px) {
    margin-block-start: 0px;
  }
}

.what__body {
  position: relative;
  width: 100%;
}
.what__img {
  width: 100%;
}
.what__card {
  display: flex;
  position: absolute;
  top: 215px;
  right: 140px;
  max-width: 580px;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-family: map-get($fonts, footer);
  padding-inline: 60px;
  padding-block-start: 60px;
  padding-block-end: 50px;
  border: 2px solid transparent;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background: rgb(#ffffff, 0.1) border-box;
  border: solid 2px rgba(244, 244, 244, 0.142);
  @media (max-width: 1440px) {
    top: 100px;
  }
  @media (max-width: 1200px) {
    max-width: 400px;
    padding-inline: 40px;
  }
  @media (max-width: 1024px) {
    top: 60px;
    right: 200px;
  }
  @media (max-width: 992.99px) {
    padding: 30px 30px;
    top: 110px;
    right: 200px;
  }
  @media (max-width: 768px) {
    top: 80px;
    right: 180px;
  }
  @media (max-width: 600px) {
    top: 50px;
    right: 100px;
    max-width: 335px;
    min-width: 300px;
  }
  @media (max-width: 400px) {
    top: 50px;
    right: inherit;
  }
}
.what__title {
  font-size: 44px;
  font-weight: 800;
  line-height: 45px;
  @media (max-width: 1200px) {
    font-size: 25px;
    line-height: 20px;
  }
}
.what__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  margin-block-start: 18px;
  margin-block-end: 45px;
  @media (max-width: 1200px) {
    font-size: 12px;
    line-height: 20px;
    line-height: 20px;
  }
}
.what__links {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  gap: 44px;
  @media (max-width: 1200px) {
    font-size: 10px;
  }
}

.what__link--video {
  display: flex;
  align-items: center;
  gap: 9px;
  img {
    max-width: 10px;
  }
}
// SUBSCRIBE-SECTION

.subscribe {
  margin-block-start: 290px;

  @media (max-width: 736px) {
    margin-block-start: 200px;
  }
  @media (max-width: 600px) {
    margin-block-start: 300px;
  }
}
.subscribe__body {
  display: flex;
  align-items: center;
  gap: 75px;
  color: #ffffff;
  @media (max-width: 1280px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.subscribe__img {
  @media (max-width: 768px) {
    height: 380px;
    object-fit: cover;
  }
}
.subscribe__content {
  max-width: 500px;
}
.subscribe__title {
  font-family: map-get($fonts, primary);
  font-weight: 700;
  font-size: 40px;
  @media (max-width: 768px) {
    font-size: 25px;
  }
}
.subscribe__text {
  font-family: map-get($fonts, footer);
  font-weight: 400;
  font-size: 20px;
  margin-block-start: 25px;
  margin-block-end: 50px;
  line-height: 35px;
  @media (max-width: 768px) {
    font-size: 13px;
    margin-block-start: 18px;
    margin-block-end: 32px;
    line-height: 25px;
  }
}
.subscribe__form {
  display: flex;
  font-family: map-get($fonts, footer);
  gap: 8px;
  @media (max-width: 1280px) {
  }
}
.subscribe__input {
  padding: 12px 18px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}
.subscribe__button {
  padding: 13px 33px;
  font-weight: 500;
  color: white;
  font-size: 15px;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(45deg, #ff56f6, #3bace2);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
  &:hover {
    background: linear-gradient(45deg, #ff56f6, #3bace2);
    box-shadow: 0 5px 50px rgba(255, 0, 255, 0.8);
  }
  &:active {
    transform: scale(0.9);
  }
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

//FOOTER

.footer__body {
  display: flex;
  gap: 90px;
  @media (max-width: 1380px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.footer__ocean {
  max-width: 380px;
  line-height: 25px;
  @media (max-width: 400px) {
    width: 100% !important;
  }
}
.footer__text--ocean {
  margin-block-start: 30px;
  margin-block-end: 25px;
}
.footer_social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  img {
    min-width: 15px;
    height: 15px;
  }
  a {
    padding: 6px;
    background-color: #ffffff10;
    border-radius: 50px;
    &:hover {
      background-color: #5f20c4a6;
    }
  }
}

.footer__title {
  position: relative;
  white-space: nowrap;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: map-get($fonts, footer);
  margin-block-end: 18px;
  line-height: 30px;
  cursor: pointer;
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__title--line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
  opacity: 0.2;
  width: 100%;
  height: 1px;
}
.footer__title--line.active::after {
  width: 20%;
  opacity: 1;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 !important;
  white-space: nowrap;
  margin-block-end: 30px;
  margin-block-start: 30px !important;
  transition: 0.5s ease-in-out !important;
}

.footer__link,
.footer__text--ocean {
  font-size: 15px;
  font-weight: 400;
  font-family: map-get($fonts, footer);
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
    filter: drop-shadow(0 5px 50px rgba(255, 0, 255, 0.8));
  }
}
.footer__faq--desktop {
  display: grid;
  grid-template-columns: repeat(5, minmax(175px, 1fr));
  gap: 33px;
  padding-inline-end: 30px;
  @media (max-width: 1280px) {
    width: 100%;
    padding: 0px;
    grid-template-columns: repeat(auto-fill, minmax(175px, auto));
  }
}

.footer__faq--desktop {
  @media (max-width: 768px) {
    display: none;
  }
}
.line {
  background-color: #fff;
  opacity: 0.2;
  height: 1px;
  max-width: 100%;
  padding-inline: 100px;
  margin-block-start: 160px;
  margin-block-end: 95px;
  @media (max-width: 768px) {
    margin-block-start: 100px;
    margin-block-end: 30px;
  }
}

.line--second {
  margin-inline: 0;
  margin-block-start: 85px;
  margin-block-end: 25px;
  @media (max-width: 768px) {
    display: none;
  }
}
.hidden-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-top: 10px;
  padding-left: 20px;
}

.hidden-list.active {
  max-height: 500px;
}
.footer-wrapper,
.mySwiperFooter {
  display: none !important;
  width: 100%;

  @media (max-width: 768px) {
    display: flex !important;
    margin: 0 !important;
  }
}
.footer-wrapper {
  margin: 0 !important;
  width: 100% !important;
  text-align: start;

  @media (max-width: 768px) {
    flex-direction: column !important;
    justify-content: space-between !important;
  }
}
.footer__market--new {
  color: #2ec5ce;
  opacity: 1;
  font-size: 22px;
  font-family: map-get($fonts, footer-new);
}
.footer-wrapper .swiper-slide {
  width: 100% !important;
}
// footer-rights

.footer__policy {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-block-end: 40px;
  gap: 20px;
  white-space: nowrap;

  font-size: 15px;
  font-family: map-get($fonts, footer);
  font-weight: 400;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 35px;
    margin-block-start: 22px;
  }
}
.footer__rights {
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.footer__terms {
  display: flex;
  gap: 6px;
  align-items: center;
  p {
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
.footer__terms p:not(:last-child)::after {
  content: "|";
  color: white;
  margin-inline: 8px;
  @media (max-width: 768px) {
    content: "";
  }
}
.footer__terms p:last-child {
  @media (max-width: 768px) {
    display: none;
  }
}
.footer__title--decoration.active {
  filter: drop-shadow(5px 5px 5px rgba(255, 0, 255, 1));
  img {
    transition: 0.3s ease-in-out;
    transform: rotateX(180deg);
  }
}
